@font-face {
    font-family: "iranyekanweblight";
    src: local("iranyekanweblight"), local("fonts/iranyekanweblight"),
        url("../fonts/iranyekanweblight.eot") format("eot"),
        url("../fonts/iranyekanweblight.woff") format("woff"),
        url("../fonts/iranyekanweblight.ttf") format("truetype"),
        url("../fonts/iranyekanweblight.woff2") format("woff2");
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --primary: #fafafa;
    --secondary: #ffffff;
    --accent: #0089ff;
    --primary-text: #2e343b;
    --secondary-text: #696969;
    --font-family: "iranyekanweblight";
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
}

div,
p,
input,
textarea,
option,
select,
a,
span,
b,
li,
ol {
    font-family: var(--font-family), var(--bs-font-sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family),
        var(--bs-font-sans-serif);
    font-weight: bold !important;

}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-family: var(--font-family),
        var(--bs-font-sans-serif);
    font-weight: bold !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family),
        var(--bs-font-sans-serif);
}

p,
body,
#top-bar,
.nav-dropdown,
.top-bar-nav a.nav-top-link {
    font-family: var(--font-family),
        var(--bs-font-sans-serif);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--primary);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: var(--font-family),
        var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-text);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

code {
    font-family: var(--bs-font-monospace);
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #777;
}

img {
    max-width: 100%;
    height: auto;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto
}
.container-fluid {
    max-width: 1600px !important;
}
@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px
    }
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 720px
    }
}

@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px
    }
}

.layout, .layout>*:not(.header) {
    background-color: var(--primary);
}