.basket-area {
    width: auto;
    float: left;
    position: relative;
    cursor: pointer;
    padding-right: 36px;
    border-right: solid 1px #e6e6e6;
}
.basket-area .basket-toggle {
    position: relative;
    padding: 8px 0 0;
}
.basket-area .basket-toggle span.anticon.anticon-shopping-cart {
    position: relative;
    font-size: 34px;
    color: #939393;
}
.basket-area .basket-toggle .item_counter {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #fa4d55;
    position: absolute;
    color: #fff;
    top: 10px;
    right: -5px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
}
.basket-area .basket-toggle .item_counter #basket_items {
    line-height: 20px;
}
.basket-menu {
    background: #fff;
}
.basket-area .basket-menu {
    display: none;
    position: absolute;
    z-index: 101;
    left: 0;
    cursor: auto;
    width: 341px;
    top: 120%;
    padding: 23px 16.5px;
    border-radius: 8px;
    box-shadow: 0 3px 20px 0 rgba(94, 100, 114, .08);
    background-color: #fff;
}
.basket-area .basket-menu.active{
    display: block;
}
.basket-menu #basket ul.basket-items {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    direction: ltr;
    color: #000;
}